<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ _charset }}" />
    <title>An Error Occurred: {{ status_text }}</title>
</head>
<body>
{{ render(controller('TroiswaBackBundle:Product:displayErrorProduct')) }}
</body>
</html>
